<html>

<body>
{{#name}}
Hello, {{name}}!
{{/name}}
<br>
<form action="/create-message" method="post">
<input type="text" name="message" size="80" placeholder="type your message"><br><br>
    <button type="submit">Submit</button>
    </form>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<form action="/delete" method="post">
    <input type="text" name="id" placeholder="Enter number from message list">
    <button type="submit">Delete</button>
</form>
<br>
<form action="/edit" method="post">
    <input type="text" name="id" placeholder="Enter number from message list">
    <input type="text" name="edit">
    <button type="submit">Edit</button>
</form>
<br>
<Strong>Messages:</Strong> <br>
<form action="/delete" method="post">
<ol>
    {{#messages}}
    <li>{{text}}</li>
    {{/messages}}
</ol>
</form>

</body>
</html>

</body>
</html>